<link rel="stylesheet" href="~/css/StyleSheet.css"/>
<div class="mark">
    <marquee><p class="mark-item">What starts here, changes the world.&emsp; &emsp;&emsp;&emsp;&emsp;HEC recognized University&emsp; &emsp;&emsp;&emsp;&emsp;Last Date to Apply 15th October 2021</p></marquee>
</div>
<header id="hero">
    <img src="logo3.png" style="height: 58px; width: 213px; float: left; margin-top: 10px;"
    <div class="Menu"></div>
    <nav>
        <ul>
            <li>Merit Lists</li>
            <li>Time Table</li>
            <li>Contact Us</li>
            <li>USKT magazine</li>
            <li>Downloads</li>
            <li>Aquire LMS</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li style="font-weight: 600;">About USKT</li>
            <li style="font-weight: 600;">Admission</li>
            <li style=" background-color: rgba(183, 14, 28, 0.863);height: 50px; width: 25%;text-align: center;
      color: #fff; padding-top: 20px;font-weight: 600;">Academics</li>
            <li style="font-weight: 600;">Offices</li>
            <li style="font-weight:600;">Faculty & Reasearch</li>
            <li style="font-weight: 600;">Studay At USKT</li>
        </ul>
    </nav>
    <div class="slider"></div>
    <div class="wrapper">
        <img src="https://portal.uskt.edu.pk/Areas/WebsiteAdmin/Content/Banners/202106081137114666_op.jpg">
    </div>
    <div class="text" style="margin-top: 50px;">
        <h1>Mission of USKT</h1>
        <p>
            Providing quality education at affordable cost with special emphasis on intellectual development and character building.
            <br>Providing an academic environment to groom students’ natural abilities leading to professional success.
            <br> Providing a conducive environment to foster critical thinking and complex problem solving abilities for promoting research and entrepreneurship culture in collaboration with <br>industry.
        </p>
    </div>
    <div class="vc">
        <img src="https://www.uskt.edu.pk/faculty_imgs/bbc001.jpg" style="float: left; padding: 10px; height: 150px;width: 99px; margin-top: -30px;">
        <div style="margin-left: 20px;"><h3>Prof. Dr. Syed Saeed Ul Hasan Chishti</h3></div>
        <div>
            <ul>
                <li>Prof. Dr. Syed Saeed Ul Hasan Chishti </li>
                <li>
                    Ph.D  in Education from Arid Agriculture University<br>
                    Rawalpindi,
                </li>
            </ul>
        </div>
        <div style="display:inline ; margin-left: 200px;">
            <h1 style="font-family:Cooper; color:#fff; size:55px;">Our Team</h1>
            <p style="font-family:'Segoe Script'; color:#fff; size: 50px; margin-left: -50px;"> "What starts here, changes the world."</p>
        </div>
    </div>
    <div style="display:flex;  padding-top: 40px; padding-bottom: 40px; background-color: #07564b; margin-top: 50px;">
        <div style="margin-left: 100px;">
            <img src="https://www.uskt.edu.pk/Content/css/USKT_Logo.png" style="height:90px; width:90px;">
        </div>
        <div style="margin-left: 150px">
            <h3 style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">Address</h3>
            <p style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">1-Km Main<br> Daska Road, Sialkot</p>
        </div>
        <div style="margin-left: 150px">
            <h3 style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">Contacts</h3>
            <p style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;"> Email: info@uskt.edu.pk<br> Phone: +92-523575518-20</p>
        </div>
        <div style="margin-left: 150px">
            <h3 style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">Links</h3>
            <a href="#" style="text-decoration:none ; color: #337ab7;">About Us</a><br>
            <a href="#" style="text-decoration:none ; color: #337ab7;">Faculty</a><br>
            <a href="#" style="text-decoration:none ; color: #337ab7;">Contact Us</a><br>
        </div>
    </div>
    <p>
        © Copyright 2022 University of Sialkot - All Rights Reserved
    </p>
    </header>